* {
  margin: 0 auto;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

/* Header-section */

.navbar-section {
  width: 100%;
  text-align: center;
}
.navbar-section li {
  display: inline-block;
  size: 18px;
  font-weight: bold;
  color: #ff0000;
  text-transform: uppercase;
  margin: 25.5px 72px;
}
.navbar-section li a {
  text-decoration: none;
  color: #ff0000;
}

/* Main-section */

.image-section img {
  width: 100%;
}
.content-section {
  width: 100%;
  align-items: center;
  margin: 49px 0 40px 0;
  /* margin: 49px 67.5px 40px 67.5px; */
}
.content-section h1 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  margin-top: 49px;
  margin-bottom: 38px;
}
.content-section p {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
  margin: 0 67.5px 28px 67.5px;
}
.button-wraper {
  display: block;
  text-align: center;
  margin-top: 66px;
  margin-bottom: 42px;
  /* display: flex;
  justify-content: center; */
}
.button-wraper-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  background-color: #ff0000;
  border-radius: 4px;
  padding: 18px 43px;
}

/* Footer-section */

.footer-section {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  text-align: right;
  margin-right: 105px;
}
