body{
  font-family: 'Roboto',sans-serif;
  width: 1366px;
  box-sizing: border-box;
  background-image: url(./image/background\ 1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

/* Header-section */

.header-section{
  width: 1028px;
  margin: 46px auto 0px auto;
  display: flex;
  height: 61px;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  display: flex;
  text-decoration: none;
}

.header-logo {
height: 100%;
}

.header-logo-text { 
margin-left: 8px;
color: white;
text-transform: uppercase;
font-weight: 700;
}
.milan {
font-size: 29px;
}
.holydays {
margin-top: 3px;
font-size: 18px;
}

.header-link:hover img{
  content: url(./image/logo\ orange.png);
}
.header-link:hover div {
  color: #F26522;
}

.header-contacts a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 18px;
  text-align: end;
}

.contacts-tel {
  margin-top: 19px;
  
}

.contacts-mail:hover {
  color: #F26522;
}

.contacts-tel:hover {
  color: #F26522;
}

/* Main-section */

.main-section {
width: 80%;
margin: 17px auto;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
justify-items: center;
}

.main-section a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
}

.main-content-click > h3 {
margin: 20px auto 37px auto;
}

.main-content {
  position: relative;
  overflow: hidden;
}

.main-content img {
  box-sizing: border-box;
  border: 5px solid white;
  border-image:linear-gradient(white, black) 1 1%;
}

.main-content:hover .main-content-hover{
top: 55.7%;
}

.main-content>a:hover{
  color: #F26522;
}

.main-content-hover {
  position: absolute;
  top: 110%;
  width: 300px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #F26522;
  color: white;
  transition: 0.5s;
}

.price h3 {
  margin-top: 7px;
  margin-left: 16px;
  font-size: 10px;

}
.price h2 {
  margin-top: 8px;
  margin-left: 16px;
  font-size: 20px;
}

.details {
  position: relative;
  margin-top: 29px;
  margin-right: 37px;
  font-size: 14px;
  /* text-align: end; */
}

.arrow {
  position: absolute;
  right: -80px;
  top: 2.5px;
  transform: rotate(45deg);
  width: 5px;
  height: 5px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  margin-right: 60px;
}

/* Footer-section */

.footer-section {
  width: 100%;
  margin-top: 49px;
  text-align: center;
  
  
}
.footer-section p { 
  font-size: 12px;
  line-height: 12px;
  color: white;
  
}
