body {
  max-width: 1280px;
}

/* Header-section */

.header-logo {
  margin: 63px 0 38px 0px;
}
.header-logo a {
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 94px;
  color: #000000;
  text-decoration: none;
}
.header-logo span {
  color: #4bcaff;
}
.header-nav-section {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #35444f;
}

.header-nav-item {
  border-left: 0.5px solid white;
  text-decoration: none;
  padding: 20px 40px;
  font-size: 24px;
  line-height: 28px;
  color: white;
}
.nav-item-no {
  color: #35444f;
  pointer-events: none;
}


.header-nav-item:hover:not(.nav-item-no) {
  background-color: #222f3a;
}


/* Main-section */

.main-section {
  width: 1280px;
  margin: 48px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.aside-menu {
  flex-basis: 30%;
  border: 0.5px solid #000000;
  padding-top: 23px;
  padding-bottom: 30px; 
}

.aside-menu a:hover {
  background-color: #dbdbdb;
  padding: 27px 78px 27px 60px;
  color: #000000;
}

.aside-link {
  display: block;
  padding: 25px 0px 25px 0px;
  text-decoration: none;
  color: #485863;
  font-size: 27px;
  /* line-height: 27px; */
}

.main-content {
  flex-basis: 65%;
 
}
.content-img {
  border: 0.5px solid black;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.content-img img:hover {
  width: 40%;

}
.main-content p {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin: 37px 0px 34px 0px;
}

/* Footer-section */

.footer-section {
  width: 1280px;
  display: flex;
  height: 69px;
  justify-content: space-around;
  align-items: center;
  background-color: #b5b7ba;
}

.footer-section a {
  text-decoration: none;
  color: #000000;
  font-size: 28px;
  line-height: 28px;
}
.footer-section p {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  background-color: #b5b7ba;
  margin-left: 135px;
}

.footer-section a:hover {
  color: #3181a6;
  text-decoration: underline;
}
